*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

#debug_window {
  position: absolute;
  color: white;
  padding: 1em;
  margin: 0.3em;
  outline: 1px solid rgba(white, 0.2);
}
