*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  z-index: -1000;
}

#debug_window {
  position: absolute;
  color: white;
}

#UI {
  position: absolute;
  user-select: none;
  padding-left: 1em;
  background: rgba(white, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 0em 0.5em;
  transition: transform 0.5s;

  &.hidden {
    transform: translateX(calc(-100% + 25px));
    svg {
      transform: scale(0.5);
    }
  }
  #toggle_button {
    cursor: pointer;
    // height: 50px;
    transition: background-color 0.3s;
    &:hover {
      background: rgba(white, 0.5);
    }
  }

  label,
  input[type="checkbox"] {
    cursor: pointer;
  }

  input[type="select"] {
    font-family: "Anonymous Pro", monospace;
    font-weight: bold;
  }

  option.error,
  option[checked].error {
    color: red;
  }
  svg {
    position: relative;
    object-fit: contain;
    transition: transform 0.2s linear 0.25s;
    overflow: visible;
    transform: scale(-0.5, 0.5);
    width: 25px;
    height: 50px;
  }
}
