@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  font-size: 13px;
}
canvas {
  display: block;
  z-index: -1000;
}

select {
  font-size: 13px;
}
#debug_window {
  position: absolute;
  color: white;
}

#UI {
  position: absolute;
  user-select: none;
  padding-left: 1em;
  background: rgba(#111, 0.8);
  color: white;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  //   padding: 0em 0.5em;
  transition: transform 0.3s;
  &::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 2px;
    background: rgba(white, 0.2);
  }
  #ui-inputs {
    padding-right: 1em;
    position: relative;

    label {
      display: block;
      margin: 0.5em 0;
    }
  }
  &.hidden {
    transform: translateX(calc(-100%));
    svg {
      transform: scale(0.5);
    }
  }
  #toggle_button {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    right: -25px;
    top: 0px;
    height: 100%;
    transition: background-color 0.3s;
    &:hover {
      background: rgba(white, 0.5);
    }
  }

  label,
  input[type="checkbox"] {
    cursor: pointer;
  }

  select {
    padding: 0.5em;
    background-color: black;
    color: white;
  }
  option {
    background-color: black;
    color: white;
  }
  option:hover {
    background-color: red;
  }

  option.error,
  option[checked].error {
    color: red;
  }
  svg {
    position: relative;
    object-fit: contain;
    transition: transform 0.2s linear 0.05s;
    overflow: visible;
    transform: scale(-0.5, 0.5);
    width: 25px;
    height: 50px;
  }

  #clock_display {
    span {
      display: inline-block;
      padding: 0.25em;
    }
    // background-color: pink;
  }
}

#time_UI {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(#111, 0.8);
  color: white;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  //   padding: 0em 0.5em;
  transition: transform 0.3s;
  padding: 1em;
  padding-bottom: 0.6em;

  // min-width: 50%;

  &.hidden {
    transform: translateY(100%);

    svg {
      transform: rotate(90deg) scale(-0.5, 0.5);
    }
  }
  svg {
    position: relative;
    object-fit: contain;
    transition: transform 0.2s linear 0.05s;
    overflow: visible;
    transform: rotate(90deg) scale(0.5, 0.5);
    width: 25px;
    height: 50px;
  }
  #time_UI_toggle_button {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: -25px;
    height: 25px;
    width: 50px;
    transition: background-color 0.3s;
    &:hover {
      background: rgba(white, 0.5);
      svg {
        // transform: rotate(90deg) scale(0.5, 0.5);
      }
    }
  }
}
